body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 28, 28);
}

.container {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  width: 100%;
  height: auto;
  border-radius: 6px;

  padding: 1rem;
}

.widgets {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

#yt-lofi {
  position: relative;
  width: 60%;
  height: auto;
  left: 20%;
}

/* Timer Settings */

.timer-container {
  display: block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(255, 29, 29, 0.959);
  width: 30%;
  height: 16rem;
  border-radius: 16px;
  border: 1px solid white;
  padding: 1rem;
}
.upper-section-timer {
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
}

#timer,
.stop {
  margin: auto;
  width: 15%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
}
#timer:hover,
.stop:hover {
  transform: scale(1.1, 1.1);
}
#time {
  text-align: center;

  font-weight: 700;
  font-size: 2.3em;
}
#timeInput {
  width: 90%;
}
.timer-header {
  text-align: center;
  font-size: 2.4em;
}
.label {
  text-align: center;
}
.inputs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
}
.other-buttons-timer {
  display: flex;
  justify-content: center;
}

/* Google */
.google {
  margin-top: 4rem;
}

/* To Do Content */

.to-do-container {
  width: 36%;
  height: 16rem;
  border-radius: 16px;
  background-color: rgb(0, 82, 235);
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.to-do-container ul {
  max-height: 6rem;
  overflow-y: auto;
}
.to-do-container h2 {
  text-align: center;
}
.add-to-do {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.add-btn {
  width: 12%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 50%;
}
ul {
  padding: 0;
  width: 90%;
  margin: auto;
}
li {
  color: rgb(0, 0, 0);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
}
li p {
  overflow-x: auto;
  padding: 1.2rem;
  font-weight: 700;
}
.close {
  font-size: 1.3em;
  padding: 1rem;
  cursor: pointer;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#input-text {
  border-radius: 16px;
  width: 60%;
  height: 40px;
  padding: 0.3rem;
}
