body {
  margin: 0;
  padding: 0;
}

.background-layer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.widgets {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

#yt-lofi {
  width: 60%;
  height: auto;
  margin: auto;
}

/* common Style */

.timer-container,
.to-do-container,
.chat-container {
  width: 30%;
  height: auto;
  padding: 0.3rem;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.timer-container h2,
.to-do-container h2,
.chat-container h2 {
  text-align: center;
  font-family: Roboto, "Helvetica Neue";
  font-weight: 600;
  font-size: 2.3vmax;
  color: white;
}

.to-do-container,
.chat-container,
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#instagram,
#github,
#email {
  width: 2%;
  margin: 0.3rem;
}
#github,
#email {
  border-radius: 50%;
}
/* Timer Settings */
#audio-timer {
  display: none;
}
.upper-section-timer {
  justify-content: center;
  align-items: center;
}

#timer,
.stop {
  margin: auto;
  width: 15%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
}

#timer:hover,
.stop:hover {
  filter: invert(100);
}

#time {
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: white;
  border-radius: 16px;
  border: white solid 1px;
  width: auto;
  margin: 0.3rem auto 0.3rem auto;
}
#timeInput {
  width: 20%;
  height: 60px;
  margin: auto;
  border-radius: 6px;
  font-size: 1.6em;
}

.inputs {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}
.other-buttons-timer {
  display: flex;
  justify-content: center;
}

/* Google */
.google {
  margin-top: 4rem;
}

/* To Do Content */

.add-to-do {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.add-btn {
  width: 12%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.add-btn:hover {
  filter: invert(100);
}
.to-do-container ul {
  padding: 0;
  width: 90%;
  margin: 0.2rem auto 0.2rem auto;
  max-height: 8rem;
  overflow-y: auto;
}
li {
  color: rgb(0, 0, 0);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
}
li p {
  overflow-x: auto;
  padding: 1.2rem;
  font-weight: 700;
}
.close {
  font-size: 1.3em;
  padding: 1rem;
  cursor: pointer;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#input-text {
  border-radius: 16px;
  width: 60%;
  height: 30px;
  padding: 0.3rem;
}

/* Chat Section */

.add-doubt {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
#doubt-input {
  border-radius: 16px;
  width: 60%;
  height: 40px;
  padding: 0.3rem;
  margin: auto;
}

.doubt-submit-btn {
  width: 15%;
  height: auto;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}

.chat-container p {
  text-align: center;
  color: white;
  font-size: 2em;
}

/* Credits */

.credits {
  background: rgba(255, 255, 255, 0.673);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  margin-top: 0.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1.5rem;
  font-size: 1.3em;
}

@media screen and (max-width: 1013px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .container {
    width: 88%;
  }
  #yt-lofi {
    width: 90%;
  }
  .timer-container,
  .to-do-container,
  .chat-container {
    margin: 1.5rem auto 0 auto;
    width: 80%;
    height: auto;
    background-color: rgb(190, 102, 117);
  }
  .background-layer {
    display: none;
  }
  .widgets {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: auto;
  }
  .to-do-container ul {
    max-height: 14rem;
  }
  li p {
    font-size: 1.2em;
  }
  #instagram,
  #github,
  #email {
    width: 10%;
  }
}
